version: 2

workflows:
  version: 2
  default:
    jobs:
      - test-2.7
          filters:
            branches:
              only:
                - master
      - test-3.6
          filters:
            branches:
              only:
                - master

jobs:

  test-2.7:
    docker:
      - image: frolvlad/alpine-miniconda3
    steps:
      - run: apk add --no-cache build-base ca-certificates git openssh bash curl
      - checkout
      - restore_cache:
          keys:
            - conda-pkgs
      - run: conda create -q -n dask-mpi-dev python=2.7 && conda env update -f environment-dev.yml --prune
      - run: source activate dask-mpi-dev && pip install --no-deps -e .
      - save_cache:
          key: conda-pkgs
          paths:
            - /opt/conda/pkgs
      - run:
          name: Running tests
          command: |
            source activate dask-mpi-dev
            pytest --junitxml=test-reports/junit.xml --cov=./ dask_mpi/tests/
      - run:
           name: Coverage
           command: source activate dask-mpi-dev && codecov
           when: on_success

  test-3.6:
    docker:
      - image: frolvlad/alpine-miniconda3
    steps:
      - run: apk add --no-cache build-base ca-certificates git openssh bash curl
      - checkout
      - restore_cache:
          keys:
            - conda-pkgs
      - run: conda create -q -n dask-mpi-dev python=3.6 && conda env update -f environment-dev.yml --prune
      - run: source activate dask-mpi-dev && pip install --no-deps -e .
      - save_cache:
          key: conda-pkgs
          paths:
            - /opt/conda/pkgs
      - run:
          name: Running tests
          command: |
            source activate dask-mpi-dev
            pytest --junitxml=test-reports/junit.xml --cov=./ dask_mpi/tests/
      - run:
           name: Coverage
           command: source activate dask-mpi-dev && codecov
           when: on_success
